<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="../../asset/img/favicon.ico"/>

  <title>
    O&M Knowledge Base APSCL 
  </title>

<!-- <link rel="stylesheet" href="asset/vendor/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="../../asset/vendor/jodit/jodit.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../../asset/vendor/materialize/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="../../mobile-css.css">
  <link rel="stylesheet" href="../../asset/css/main.css">
</head>

<body class="app-color">

  <div class="header"><div class="logo-title">
    <a href="">
      <a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons white-text">menu</i></a>
      <div class="site-title">O&M Knowledge Base <span>APSCL</span></div></a>
  </div>

  
  <div class="user-pic" onclick="location.href='../profile/profile.html'"><img class="profileImage" src="../../asset/img/user-nopic.png"></div>

  <!-- <div class="user-pic dropdown-trigger"  ><img src="../../asset/img/user-nopic.png"></div> -->

  <a href="../notification/notification.html"  data-target='dropdown-notification'>
  <div class="notif-icon">        
     <i  class="material-icons white-text res" style="font-size:30px;">notifications</i> 
    <div class="notif-num"></div>
  </div>
  </a>


</div>

<nav>
  <div class="nav-wrapper" onclick="location.href='../search/search.html'">
  <div class="nav-wrapper">
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
  
  </div>
</div>
</nav>
  
<style>
 
</style>




  <script type="text/template" id="tmp_tr_notification_list">
       <div class="card blue-grey darken-1" style="color: white;width:100%">            
          <table class="striped" onclick="location.reload('tr_status.php#<%= message_id %>')">
            <thead>
              <tr>
                  <th width="50%"><%= title %></th>
                  <th style="text-align:right"><%= new Date(_created).toLocaleDateString()+""+
                   new Date(_created).toLocaleTimeString() %></th>            
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= message %></td>
                <td></td>       
              </tr>         
            </tbody>
          </table>             
       </div>
</script>

  <header>
   

    <ul id="sidenav-left" class="sidenav sidenav-fixed">
      <ul class="collection with-header">
        <li class="collection-header"><h4>APSCL O&M <span>Knowledge Base</h4></li>
        <li class="collection-item"><div><a href="mobile_dashboard.html">Home</a><a href="mobile_dashboard.html" class="secondary-content"><i class="material-icons">home</i></a></div></li>
        <!-- <li class="collection-item"><div><a href="../settings/setting.html">Settings</a><a href="../settings/setting.html" class="secondary-content"><i class="material-icons">settings_applications</i></a></div></li> -->
       <li class="collection-item"><div><a href="../contact_us/contact_us.html"> Contact us</a><a href="../contact_us/contact_us.html" class="secondary-content"><i class="material-icons">contact_mail</i></a></div></li>
       <li class="collection-item"><div><a href="../about_us/about_us.html" > About</a><a href="../about_us/about_us.html" class="secondary-content"><i class="material-icons">contact_mail</i></a></div></li>
        <li class="collection-item"><div><a href="../profile/profile.html" > Profile</a><a href="../profile/profile.html" class="secondary-content"><i class="material-icons">people</i></a></div></li>
        <li class="collection-item"><div onclick="Logout()">Logout<a  class="secondary-content"><i class="material-icons">logout</i></a></div></li>
      </ul>
    </ul>

  </header>


<div class="container-fluid"> 
  <div class="row">

    <!-- <div class="col s10 offset-s1">
      <input type="text" name="" class="searchbykeyword" value="search by keywords" onclick="value=''">      
    </div>
    <div class="col s10 offset-s1">
      <div class="col s9">
        <select>
          <option value="" disabled selected>TR/Report(s)</option>
          <option value="1">Report 1</option>
          <option value="2">Report 2</option>
          <option value="3">Report 3</option>
        </select>

      </div>
      <button class="btn waves-effect waves-light col s3">Search</button>      
    </div> -->

    <section id="round-links">
      <div class="col s6">
        <a href="../send_info/group_list.html">
          <div class="button card bg-color ds-card">          
            <i  style="" class="material-icons white-text center">info</i>
            <div class="txt">Send info</div>   
          </div>
        </a>
      </div>

      <div class="col s6">
        <a href="#!" onclick="alert('Please go to TR-CR management system')">
          <div class=" button card bg-color ds-card" style="text-align: center;">          
            <i class="material-icons white-text center">create</i>
            <div class="txt">Create TR</div>   
          </div>
        </a>
      </div>

      <div class="col s6">
        <a href="../add_report/report.html">
          <div class=" button card bg-color ds-card" style="text-align: center;">          
            <i  class="material-icons white-text center">list</i>
            <div class="txt">Report</div>   
          </div>
        </a>  
      </div>

      <div class="col s6">

        <a href="../manual/manual.html">

          <div class=" button card bg-color ds-card" style="text-align: center;">          
            <i  class="material-icons white-text center">assignment</i>
            <div class="txt">All Manual</div>  
          </div>

        </a>
      </div>
    </section>


  </div>
</div>

<div w3-include-html="mobile-footer.html"></div>

<!-- <?php include 'mobile-footer.php';?>

<?php include 'includes/include_js.php';?> -->

<script src="../../asset/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="../../asset/vendor/underscore/underscore-min.js"></script>
<script src="../../asset/vendor/materialize/materialize.min.js"></script>
<script src="../../asset/vendor/jodit/jodit.min_new.js"></script>
<script src="../../asset/js/lib/tg_core.js"></script>
<script src="../../asset/js/app/config.js"></script>

<!-- <script src="../../asset/js/app/nav.js"></script>

<script src="../../asset/js/app/main.js"></script>

<script src="../../asset/js/app/api.js"></script> -->


<script src="../../asset/vendor/materialize/js/init.js"></script>
<script src="../../asset/vendor/moment/moment.js"></script>
<script src="../../api_get.js"></script>

<script src="dashboard.js"></script>


