<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="asset/img/favicon.ico"/>
  <title>
    O&M Knowledge Base APSCL 
  </title>

<!-- <link rel="stylesheet" href="asset/vendor/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="asset/vendor/jodit/jodit.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="asset/vendor/materialize/css/admin-materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="mobile-css.css">
</head>

<body class="app-color">
  
  <div><div>
    
      <!-- <a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a> -->
      <div class="col-12 sie-ttitle-mobile"><img src="asset/img/burger-menu.png" width="30" style="position: absolute; top:12px; left:15px "> O&M Knowledge Base <span>APSCL</span></div>
    </div>


  <!-- <div class="user-pic dropdown-trigger"  data-target='dropdown-user'><img src="asset/img/user-nopic.png"></div> -->
   <!-- Dropdown user -->
  <div id='dropdown-user' class='dropdown-content'>
    
    <div class="user-name"></div>
    <a href=""><i  class="material-icons" style="font-size:16px; vertical-align: middle;">settings</i> Settings</a>
   
  </div>
  <a href="#!" class="dropdown-trigger"  data-target='dropdown-notification'>
  <!-- <div class="notif-icon">        
     <i  class="material-icons white-text res" style="font-size:30px;">notifications</i> 
    <div class="notif-num">9</div>
  </div> -->
  </a>
</div>
<!-- Dropdown notifiaction -->
  <div id='dropdown-notification' class='dropdown-content'>    
     <div id ="notification_message" style="font-size: 12px;"></div>
  </div>

<style>
  #dropdown-user{ width:120px!important; padding: 15px; top: 60px!important; text-align: right }
   #dropdown-notification{ height:400px;width:300px!important; padding: 15px; top:10px!important; text-align: right }
  .notif-icon{position: absolute;top:50%; margin-top:-15px;right:65px;}
  .notif-num{text-align:center;position: absolute;top:0;right:0;background-color: red;width:16px;height:16px;line-height:16px;border-radius: 10px; color: white; font-size: 12px}
</style>

  <script type="text/template" id="tmp_tr_notification_list">
       <div class="card blue-grey darken-1" style="color: white;width:100%">            
          <table class="striped" onclick="location.reload('tr_status.php#<%= message_id %>')">
            <thead>
              <tr>
                  <th width="50%"><%= title %></th>
                  <th style="text-align:right"><%= new Date(_created).toLocaleDateString()+""+
                   new Date(_created).toLocaleTimeString() %></th>            
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= message %></td>
                <td></td>       
              </tr>         
            </tbody>
          </table>             
       </div>
</script>

  

<div class="container-fluid"> 
  
  <div class="row">
    <img src="asset/img/banner.png" width="100%">
<div>
    <div class="col s10 offset-s1">
      <input type="text" name="" class="searchbykeyword" value="search by keywords" onclick="value=''">      
    </div>
    <div class="col s10 offset-s1">
      <div class="col s9">
        <select>
          <option value="" disabled selected>TR/Report(s)</option>
          <option value="1">Report 1</option>
          <option value="2">Report 2</option>
          <option value="3">Report 3</option>
        </select>

      </div>
      <button class="btn waves-effect waves-light col s3">Search</button>      
    </div>
  </div>
</div>
    <section id="round-links">
<div>  
      <div class="col s12 dlinks">
        <a href="pages/send_info/mobile-send-info.html">
          <div class="button card bg-color ds-card">          
            <i  style="" class="material-icons white-text center">info</i>
            <h5>Send info</h5>   
          </div>
        </a>
      </div>

      <div class="col s12 dlinks">
        <a href="../mobile-create-tr.php">
          <div class=" button card bg-color ds-card">          
            <i  style="" class="material-icons white-text center">create</i>
            <h5>Create TR</h5>   
          </div>
        </a>
      </div>

      <div class="col s12 dlinks">
        <a href="../mobile-add-report.php">
          <div class=" button card bg-color ds-card">          
            <i  style="" class="material-icons white-text center">add_circle</i>
            <h5>Add Report</h5>   
          </div>
        </a>  
      </div>

      <div class="col s12 dlinks">

        <a href="pages/manual/manual.html">

          <div class=" button card bg-color ds-card">          
            <i  style="" class="material-icons white-text center">assignment</i>
            <h5>All Manual</h5>  
          </div>

        </a>
      </div>
    </section>


  </div>
</div>

<div w3-include-html="mobile-footer.html"></div>

<!-- <?php include 'mobile-footer.php';?>

<?php include 'includes/include_js.php';?> -->

<script src="asset/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="asset/vendor/underscore/underscore-min.js"></script>
<script src="asset/vendor/materialize/js/materialize.min.js"></script>
<script src="asset/vendor/jodit/jodit.min_new.js"></script>
<script src="asset/js/lib/tg_core.js"></script>
<script src="asset/js/app/config.js"></script>

<script src="asset/js/app/nav.js"></script>

<script src="asset/js/app/main.js"></script>

<script src="asset/js/app/api.js"></script>


<script src="asset/vendor/materialize/js/init.js"></script>
<script src="asset/vendor/moment/moment.js"></script>


<script src="asset/js/app/pages/notification.js"></script>

<script type="text/javascript">
  if(window.app){
    api_push_remove("PushNotificaion",localStorage.id)
    app.fcm(localStorage.id,localStorage.department)    
  }

  localStorage.isLogin="true"
  $(".user-name").html(localStorage.user)
</script>